html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Times New Roman', Times, serif;
}
nav {
    overflow: hidden;
    background-color: rgb(230, 188, 4);
    position: fixed;
    width: 100%;
    opacity: 0.9; 
    font-family: 'advent pro', cursive;
 }
 center b{
     font-size: 2px;
 }
 header li{
     float: right;
     size: 1.2em;

 }
 center b{
     font-size: 20;
 }
 header li a{
     text-decoration: black;
     display: block;
     text-align:center;
     padding: 18px 16px;  

 }
 #logo{
     float: left;
 }
header li:hover{
    transform: scale(1.1);
    transition: 0.1;
}
header li a{
    text-decoration: none;
    text-align: center;
    padding: 18px 16px;
}

#REPAP{
    font-family: cursive;
    font-weight: bold;
    float: left;
    text-shadow: 1px 1px rgb(2, 183, 255);
    display: inline-block;
    height: 40px;
    width: 20;
}
header mark{
    background-color: rgb(0, 196, 245);
    color: darkgoldenrod;
    text-shadow: 1px 2px black;
    font-size: 24px;
    border-radius: 6px;
}
#contenuePrincipal ul mark{
    margin: auto;
    font-family: cursive;
    background-color: rgb(7, 234, 250);
    color: goldenrod;
    text-shadow: 1px 1.9px black;
    font-size: 16px;
    border-radius: 6px;
}
#contenuePrincipal ul mark:hover{
        color: #FFFAE1;
}
#contenuePrincipal ul b{
    margin: auto;
    font-family: cursive;
    background-color: goldenrod;
    color: rgb(7, 234, 250);
    text-shadow: 1px 1.6px black;
    font-size: 16px;
    border-radius: 5px;
}
#contenuePrincipal ul b:hover{
    color: #FFFAE1;
}
ul{
    margin: O;
    padding: 0;
}
li{
    list-style-type: none;
    
}
.RAP{
    font-size: 22px;
    text-shadow: 1px 1px rgb(2, 183, 255);
}
#imagePrincipale{
    padding-top: 60px;
    background: url(média/IMP.jpeg) no-repeat fixed 50% 50%; 
    background-size: cover;
    height: 200px;
}
h1{
    font-family: cursive;
    text-align: center;
    color: goldenrod;
    font-size: 2em;
    margin-top: 50px;
    text-shadow: 1px 3px bisque;
}
#Icons b{
    position: relative;
    color: black;
    font-family: fantasy;
    text-shadow: 1px 3px blanchedalmond ;
}
h3{
    font-weight: 80px;
    font-family: 'Bradley Hand ITC';
    text-align: center;
    color: bisque;
    font-size: 28px;
    text-shadow: 1.9px  2px black;
}

a{
    text-decoration: none;
    color:black;
}
#contenuePrincipal{
    display: block;
    width: 87%;
    margin: auto;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 57px;
    margin-right: 15px;
    color: black;
}
}
p center img{
    box-shadow: 1px 5px 2px black;
}
/* ************* ImagePrincipale  ************** */
footer{
    background-color: goldenrod;
    color: #FFFAE1;
    padding: 5px 0 2px 0;
    text-align: center;
}
#imagePrincipale div h2{
    color: black;
    font-family: cursive;
    font-size: 20px;
    display: block;
text-align: center;
}
#contenuePrincipal div h4{ 
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: cursive;
    font-size: 19px;
    text-shadow: 1px 2px goldenrod;
}


.pro img
{
    background-color: rgb(255, 0, 0);
    padding: 6px;
       border-radius: 70%; 
       margin-left: 5px;
}

#banner3 h4{
    margin-right: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1.2px goldenrod;
    font-size: 16px;
    text-decoration: underline double;
}
#contenuePrincipal div h2{ 
        display: block;
        width: 55%;
        margin: auto;
        text-align: center;
        font-family: cursive;
        font-size: 19px;
        border-bottom: 3px solid goldenrod;
        box-shadow: 1px 3px 2px black;
        text-shadow: 1px 2px goldenrod;
}
#contenuePrincipal ul {  
    overflow: hidden;
    display: block;
    min-width: 500px;
    width: 105%;
    margin-right: 10px;
    text-align: center;
    border-bottom: 2px solid  goldenrod;
    box-shadow: 1px 2px black;
}
.dispo{
   background-color: antiquewhite;
   display: flex;
   flex-wrap: wrap;
}
.gauche{
    width: 60%px;
    margin-right: 200px;
    
}
.gauche p{
    font-size: 14px;
    margin-left: 40px;
}
.gauche h3{
    font-weight: bold 80px;
    font-family: 'Bradley Hand ITC';
    text-align: center;
    color: goldenrod;
    font-size: 18px;
    text-shadow: 1.2px  1.3px black;
    
}
.droit{
    padding: 20px;
    
}
.droit img{
    font-weight: 50;
    padding: 100px;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
footer h2{
    color: black;
    font-family: cursive;
    font-size: 20px;
    text-shadow: 1px 1.5px #FFFAE1;
}
input,textarea, button{
    border: none;
    width: 50%;
    padding: 4px 2px;
    margin: 1px 0;
    font-size: 1em;
    font-family: cursive;
    border-radius: 8px;
    box-shadow: 2px 3px black inset;
}
textarea{
    height: 50px;
}
button{
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover{
    background-color: #f9fd05;
    color: #FFFAE1;
    transition: 0.3s ease-in-out;
}
#deuxièmeTrait{
    height: 4px;
    width: 75%;
    background-color: black;
    margin: 100px auto;
}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10px;
}
#copyright{
    width: 50%;
    text-align: left;
    color: black;
    font-family: 'Bradley Hand ITC';
    text-shadow: 1.2px  black;
    font-size: 20px;
}
#Icons{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: right;
    text-shadow: 1px 3px rgb(5, 41, 243);
}
#Icons a{
    display: inline-block;
    padding: 0 12px;
    font-size: 1.3em;
    color: none;
}
#Icons a:hover{
    transform: scale(1.5);
    transition: 0.1;
}